<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr">
<head>
<title>{$PAGE_TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="start" href="index.php" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="search" href="search.php" />
<link href="./templates/forest/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="scripts.js"></script>
</head>
<body>
<h1 id="header">{$GALLERY_DESCRIPTION}</h1>
<div id="menu"><ul >
<!-- BEGIN album_list -->
    <li><a href="index.php?cat={$smarty.get.cat}" title="{$lang_main_menu.alb_list_title}">{$lang_main_menu.alb_list_lnk}</a></li>
<!-- END album_list -->
    <li><a href="thumbnailsNew.php?album=lastup&amp;cat={$smarty.get.cat}&amp;albumid={$smarty.get.album}">{$lang_main_menu.lastup_lnk}</a></li>
    <li><a href="thumbnailsNew.php?album=lastcom&amp;cat={$smarty.get.cat}&amp;albumid={$smarty.get.album}">{$lang_main_menu.lastcom_lnk}</a></li>
    <li><a href="thumbnailsNew.php?album=topn&amp;cat={$smarty.get.cat}&amp;albumid={$smarty.get.album}">{$lang_main_menu.topn_lnk}</a></li>
    <li><a href="thumbnailsNew.php?album=toprated&amp;cat={$smarty.get.cat}&amp;albumid={$smarty.get.album}">{$lang_main_menu.toprated_lnk}</a></li>
    <li><a href="thumbnailsNew.php?album=favpics">{$lang_main_menu.fav_lnk}</a></li>
    <li><a href="search.php">{$lang_main_menu.search_lnk}</a></li>
    {if $loggedin eq 0 && $allowRegistration}
<!-- BEGIN register -->    
      <li><a href="register.php" title="{$lang_main_menu.register_title}">{$lang_main_menu.register_lnk}</a></li>
<!-- END register -->      
    {/if}

    {if $loggedin eq 0}
<!-- BEGIN login -->
      <li><a href="login.php?referer={$REFERER}">{$lang_main_menu.login_lnk}</a></li>
<!-- END login -->      
    {else}
<!-- BEGIN logout -->    
      <li><a href="logout.php?referer={$REFERER}">{$lang_main_menu.logout_lnk} [{$USER_NAME}]</a></li>
    {/if}
<!-- END logout -->    
  </ul>
</div>
<div id="admin_menu2">
<div align="right">
<table cellpadding="0" cellspacing="1">
   <tr><td></td>
    {if $loggedin ne 0}
<!-- BEGIN my_gallery -->
    <td class="admin_menu"><a href="index.php?cat={$my_cat_id}" title="{$lang_main_menu.my_gal_title}">{$lang_main_menu.my_gal_lnk}</a></td>
<!-- END my_gallery -->
    {/if}
{if $GALLERY_ADMIN_MODE || $USER_ADMIN_MODE}
    <td class="admin_menu"><a href="mode.php?admin_mode=0&amp;referer={$REFERER}" title="{$lang_main_menu.usr_mode_title}">{$lang_main_menu.usr_mode_lnk}</a></td>
{elseif $USER_CAN_CREATE_ALBUM || $USER_IS_ADMIN}
<!-- BEGIN leave_admin_mode -->
    <td class="admin_menu"><a href="mode.php?admin_mode=1&amp;referer={$REFERER}" title="{$lang_main_menu.adm_mode_title}">{$lang_main_menu.adm_mode_lnk}</a></td>
<!-- END leave_admin_mode -->
{/if}
    {if $loggedin eq 1}
<!-- BEGIN upload_pic -->
    <td class="admin_menu"><a href="upload.php" title="{$lang_main_menu.upload_pic_title}">{$lang_main_menu.upload_pic_lnk}</a></td>
<!-- END upload_pic -->
    {/if}
  </tr>
</table>
</div>
</div>
<div id="admin_menu" >

{if $GALLERY_ADMIN_MODE}
  <div align="right">
  <table cellpadding="0" cellspacing="1">
    <tr>    
      <td class="admin_menu"><a href="editpics.php?mode=upload_approval" title="">{$lang_gallery_admin_menu.upl_app_lnk}</a></td>
      <td class="admin_menu"><a href="admin.php" title="">{$lang_gallery_admin_menu.admin_lnk}</a></td>
      <td class="admin_menu"><a href="albmgr.php?cat=-1" title="">{$lang_gallery_admin_menu.albums_lnk}</a></td>
      <td class="admin_menu"><a href="catmgr.php" title="">{$lang_gallery_admin_menu.categories_lnk}</a></td>
      <td class="admin_menu"><a href="usermgr.php" title="">{$lang_gallery_admin_menu.users_lnk}</a></td>
      <td class="admin_menu"><a href="groupmgr.php" title="">{$lang_gallery_admin_menu.groups_lnk}</a></td>
      <td class="admin_menu"><a href="banning.php" title="">{$lang_gallery_admin_menu.ban_lnk}</a></td>
      <td class="admin_menu"><a href="db_ecard.php" title="">{$lang_gallery_admin_menu.db_ecard_lnk}</a></td>
      <td class="admin_menu"><a href="reviewcom.php" title="">{$lang_gallery_admin_menu.comments_lnk}</a></td>
      <td class="admin_menu"><a href="searchnew.php" title="">{$lang_gallery_admin_menu.searchnew_lnk}</a></td>
      <td class="admin_menu"><a href="util.php" title="">{$lang_gallery_admin_menu.util_lnk}</a></td>
      <td class="admin_menu"><a href="profile.php?op=edit_profile" title="">{$lang_user_admin_menu.my_prof_lnk}</a></td>
    </tr>
  </table>
  </div>      
{/if}
{if $USER_ADMIN_MODE}
  <div align="left">
  <table cellpadding="0" cellspacing="1">
    <tr>    
      <td class="admin_menu"><a href="searchnew.php" title="">{$lang_user_admin_menu.albmgr_lnk}</a></td>
      <td class="admin_menu"><a href="util.php" title="">{$lang_user_admin_menu.modifyalb_lnk}</a></td>
      <td class="admin_menu"><a href="profile.php?op=edit_profile" title="">{$lang_user_admin_menu.my_prof_lnk}</a></td>
    </tr>
  </table>
  </div>      
{/if}
</div>
<div id="content"><div class="innerdiv">
{if $breadcrumbHTML ne ""}
<!-- Breadcrum for category Starts-->
{$breadcrumbHTML}
<!-- Breadcrum for category Ends-->
{/if}
<!-- CONTENT -->
{$CONTENT}
<img src="images/spacer.gif" width="1" height="17" alt="" /><br />
{if $showDebug eq 1}
<form name="debug" action="/cpg/index.php">
<!-- Start standard table -->
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1" colspan="2">{$lang_cpg_debug_output.debug_info}</td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="tableh2" width="100">
      <script language="javascript" type="text/javascript">
      {literal}
      <!--
        function HighlightAll(theField) {
        var tempval=eval("document."+theField)
        tempval.focus()
        tempval.select()
        }
      //-br->
      {/literal}
      </script>
      <a href="javascript:HighlightAll('debug.debugtext')" class="admin_menu">{$lang_cpg_debug_output.select_all}</a>
    </td><td align="left" valign="middle" class="tableh2">
      {if $GALLERY_ADMIN_MODE}
      <span class="album_stat">
        {$lang_cpg_debug_output.copy_and_paste_instructions}
      </span>
      {/if}
    </td>
  </tr>
  <tr>
    <td class="tableb" colspan="2">
      <textarea  rows="10" cols="60" class="debug_text" name="debugtext">
      USER:
      {foreach item=item key=key from=$USER}
        [{$key}] => {$item}
      {/foreach}
      USER DATA:
      {foreach item=item key=key from=$USER_DATA}
        [{$key}] => {$item}
      {/foreach}
      GET:
      {foreach item=item key=key from=$smarty.get}
        [{$key}] => {$item}
      {/foreach}
      Queries:
      {foreach item=item key=key from=$queries}
        [{$key}] => {$item}
      {/foreach}
      WARINGS &amp; NOTICES:
      {foreach item=item key=key from=$report}
        [{$key}] =>
        {foreach item=i key=k from=$item}
          [{$k}] => {$i}
        {/foreach}
      {/foreach}
      </textarea>
    </td>
  </tr>
</table>
{/if}
<p style="color:white; text-align: center;">Syndicate this page with <a href="rss.php?album=1">RSS1.0</a></p>
<div class="footer" align="center" style="padding-top: 10px;">
Powered by <a href="http://coppermine.sourceforge.net/" title="Coppermine Photo Gallery" rel="external">Coppermine Photo Gallery</a>
</div>
</div>
</div>
<!--Coppermine Photo Gallery Next Generation (alpha)-->
</body>
</html>
