<!-- Start standard table -->
<form method="post">
<input type="hidden" name="validate_album" value="validate_album" />
<table align="center" width="600" cellspacing="1" cellpadding="0" class="maintable">
  <tr><td class="tableh1" colspan="2">{$lang_thumb_view.enter_alb_pass}</td></tr>
 {if $albumPasswordHint ne ''}
  <tr><td colspan="2" align="center" class="tableb">{$albumPasswordHint}</td></tr>
 {/if}
 {if $loginFailed eq 1}
  <tr>
    <td class="tableh2" colspan="2" align="center">
      <font color="red" size="1">{$lang_thumb_view.invalid_pass}</font>
    </td>
  </tr>
 {/if}
  <tr>
    <td class="tableb" width="40%">{$lang_thumb_view.pass}: </td>
    <td class="tableb" width="60%"><input type="password" class="textinput" name="password" /></td>
  </tr>
  <tr><td class="tablef" colspan="2" align="center"><input type="submit" class="button" name="submit" value="{$lang_thumb_view.submit}" /></tr>
</table>
</form>
<!-- End standard table -->
