<!-- Start standard table -->
<table align="center" width="600" cellspacing="1" cellpadding="0" class="maintable">

        <tr>
                <td class="tableh1" colspan="1">{$msgTitle}</td>
        </tr>
<!-- cpg_die -->
        <tr>
                <td class="tableb" height="300" align="center">
                        <font size="3"><b>{$msgText}</b></font>
<!-- BEGIN file_line -->
                        <br />

                        <br />
                        {$fileText}{$file} - {$lineText}{$line}
<!-- END file_line -->
<!-- BEGIN output_buffer -->
                        <br />
                        <br />
                        <div align="left">
                                
                        </div>
<!-- END output_buffer -->
                        <br /><br />

                </td>
        </tr>

</table>
<!-- End standard table -->