<!-- Start metaThumbnail.html -->
{if $thumbList.thumbCount eq 0}
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1">{$thumbList.albumName}</td>
  </tr>
  <tr>
    <td class="tableb" height="200" align="center">
      <font size="3"><b>{$lang_errors.no_img_to_display}</b></font>
    </td>
  </tr>
</table>
{else}
{if $showToolbar eq 1}
<script language="JavaScript">
<!--
{literal}
var processRunning = false;
var x = createRequestObject();

function createRequestObject() {
  var x = false;

  try {
    x = new ActiveXObject("Msxml2.XMLHTTP");
  } catch (e) {
    try {
      x = new ActiveXObject("Microsoft.XMLHTTP");
    } catch (E) {
      x = false;
    }
  }

  if (!x && typeof XMLHttpRequest != "undefined") {
    x = new XMLHttpRequest();
  }

  return x;
}

function addRemfav(pid) {
  if (x && !processRunning) {
    window.scrollTo(0, 0);

    processRunning = true;

    document.getElementById("addRemFavLoading").style.display = "block";

    x.open("get", "addRemFav.php?pid="+pid);

    x.onreadystatechange = function() {
      if (x.readyState == 4) {
        if (x.responseText == "A") {
          var elements = document.getElementsByName("favImg_"+pid);

          for (var i = 0; i < elements.length; i++) {
            elements[i].src = "{/literal}{$DOMAIN_URL}{literal}images/heart_delete.png";
            elements[i].alt = "{/literal}{$lang_picinfo.remFav}{literal}";
            elements[i].title = "{/literal}{$lang_picinfo.remFav}{literal}";
          }

          alert("{/literal}{$lang_success.favAdded}{literal}");
        } else if (x.responseText == "R") {
          var elements = document.getElementsByName("favImg_"+pid);

          for (var i = 0; i < elements.length; i++) {
            elements[i].src = "{/literal}{$DOMAIN_URL}{literal}images/heart_add.png";
            elements[i].alt = "{/literal}{$lang_picinfo.addFav}{literal}";
            elements[i].title = "{/literal}{$lang_picinfo.addFav}{literal}";
          }

          alert("{/literal}{$lang_success.favRemoved}{literal}");

          {/literal}{if $smarty.request.meta eq 'favpics'}
          window.location = window.location;
          {/if}{literal}
        } else {
          alert(x.responseText);
        }

        document.getElementById("addRemFavLoading").style.display = "none";

        processRunning = false;
      }
    }

    x.send(null);
  }
}

function showPicInfo(pid) {
  if (x && !processRunning) {
    window.scrollTo(0, 0);

    processRunning = true;

    var tableStart = '<table align="center" cellspacing="0" cellpadding="0" class="maintable" style="margin: 0px; width: 600px;">';
    var titleSection = '<tr><td class="tableh2_compact" colspan="2"><span onClick="closeFileInfoDiv();" style="float: right; cursor: pointer;">Close (X)</span><b>{/literal}{$lang_picinfo.title}{literal}:</b></td></tr>';

    if (document.getElementById("picInfoDetails")) {
      document.getElementById("picInfoDetails").innerHTML = tableStart+'<tr><td class="tableb_compact">Loading ....</td></tr></table>';
    } else {
      document.getElementById("picInfo").innerHTML = tableStart+titleSection+'<tr><td class="tableb_compact">Loading ....</td></tr></table>';
    }

    document.getElementById("picInfo").style.display = "block";

    x.open("get", "{/literal}{$DOMAIN_URL}{literal}ajax_fileInfo.php?pid="+pid);

    x.onreadystatechange = function() {
      if (x.readyState == 4) {
        if (document.getElementById("picInfoDetails")) {
          document.getElementById("picInfoDetails").innerHTML = tableStart+x.responseText+'</table>';
        } else {
          document.getElementById("picInfo").innerHTML = tableStart+titleSection+x.responseText+'</table>';
        }

        processRunning = false;
      }
    }

    x.send(null);
  }
}

window.onload = function() {
  if (!document.all || navigator.appName != "Microsoft Internet Explorer") {
    document.getElementById("picInfo").overflow = "hidden";
    document.getElementById("picInfo").innerHTML = '<table align="center" cellspacing="0" cellpadding="0" class="maintable" style="margin: 0px; width: 600px;"><tr><td class="tableh2_compact"><span onClick="closeFileInfoDiv();" style="float: right; cursor: pointer;">Close</span><b>{/literal}{$lang_picinfo.title}{literal}:</b></td></tr></table><div id="picInfoDetails" style="display: block; height: 300px; margin: 0px; overflow: auto; width: 600px;"></div>';
  }

  if (typeof(window.innerWidth) != "undefined" && typeof(window.innerHeight) != "undefined") {
    document.getElementById("picInfo").style.top = parseInt((window.innerHeight - 325) / 2)+"px";
    document.getElementById("picInfo").style.left = parseInt((window.innerWidth - 600) / 2)+"px";

    document.getElementById("addRemFavLoading").style.left = parseInt((window.innerWidth - 400) / 2)+"px";
  } else {
    document.getElementById("picInfo").style.top = parseInt((screen.availHeight - 325) / 2)+"px";
    document.getElementById("picInfo").style.left = parseInt((screen.availWidth - 600) / 2)+"px";

    document.getElementById("addRemFavLoading").style.left = parseInt((screen.availWidth - 400) / 2)+"px";
  }
}

function closeFileInfoDiv() {
  document.getElementById("picInfo").style.display = "none";

  if (document.getElementById("picInfoDetails")) {
    document.getElementById("picInfoDetails").innerHTML = "";
  } else {
    document.getElementById("picInfo").innerHTML = "";
  }
}
{/literal}
//-->
</script>
<div id="picInfo" style="display: none; height: 325px; overflow: auto; position: absolute; width: 600px; z-index: 2;"></div>
<center><div id="addRemFavLoading" style="display: none; position: absolute; width: 400px; z-index: 3;"><table align="center" cellspacing="0" cellpadding="0" class="maintable" style="margin: 0px; width: 400px;"><tr><td class="tableh2_compact"><b>Processing your request ...</b></td></tr></table></div></center>
{/if}
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1">
     {if $showZipDownloadLink eq 1}
      <span class="statlink" style="float: right;"><a href="zipdownload.php">{$lang_thumb_view.download_zip}</a>&nbsp;&nbsp;</span>
     {/if}
      <span class="statlink"><b>{$thumbList.albumName}</b></span>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        {assign var="col" value="0"}
        {assign var=cur value=$thumbList.currentPage-1}
        {section name=element loop=$thumbcols*$thumbrows max=$thumbList.thumbCount}
        {if $col == $thumbcols}
        </tr><tr>{assign var="col" value="0"}
        {/if}
          <td valign="top" class="thumbnails" width="{$colWidth}%" align="center">
            <a href="{$thumbList[element].displayURL}"><img src="{$thumbList[element].image.url}" {$thumbList[element].image.geom} class="image" border="0" alt="{$thumbList[element].image.alt}" title="{$thumbList[element].image.title}" /></a>
            <br />
            {if $showToolbar eq 1 and $thumbList[element].pid gt 0}
            <div class="admin_menu" style="width: 120px;">
              <a href="#" onClick="showPicInfo({$thumbList[element].pid}); return false;"><img src="{$DOMAIN_URL}images/info.gif" width="16" height="16" border="0" align="middle" alt="{$lang_img_nav_bar.pic_info_title}" title="{$lang_img_nav_bar.pic_info_title}" /></a>&nbsp;&nbsp;
              <a href="#" onClick="addRemfav({$thumbList[element].pid}); return false;">
               {if $thumbList[element].fav eq 1}
                <img id="favImg_{$thumbList[element].pid}" name="favImg_{$thumbList[element].pid}" src="{$DOMAIN_URL}images/heart_delete.png" width="16" height="16" border="0" align="middle" alt="{$lang_picinfo.remFav}" title="{$lang_picinfo.remFav}" />
               {else}
                <img id="favImg_{$thumbList[element].pid}" name="favImg_{$thumbList[element].pid}" src="{$DOMAIN_URL}images/heart_add.png" width="16" height="16" border="0" align="middle" alt="{$lang_picinfo.addFav}" title="{$lang_picinfo.addFav}" />
               {/if}
              </a>&nbsp;&nbsp;
             {if $thumbList[element].ecardURL ne ''}
              <a href="{$DOMAIN_URL}{$thumbList[element].ecardURL}"><img src="{$DOMAIN_URL}images/ecard.gif" width="16" height="16" border="0" align="middle" alt="{$lang_img_nav_bar.ecard_title}" title="{$lang_img_nav_bar.ecard_title}" /></a>&nbsp;&nbsp;
             {else}
              <a href="#" onClick="alert('{$lang_img_nav_bar.ecard_disabled_msg|escape:"quotes"}'); return false;"><img src="{$DOMAIN_URL}images/ecard.gif" width="16" height="16" border="0" align="middle" alt="{$lang_img_nav_bar.ecard_disabled}" title="{$lang_img_nav_bar.ecard_disabled}" /></a>&nbsp;&nbsp;
             {/if}
              <a href="{$thumbList[element].displayURL}#comments"><img src="{$DOMAIN_URL}images/comment.png" width="16" height="16" border="0" align="middle" alt="{$lang_thumb_view.comments}" title="{$lang_thumb_view.comments}" /></a>
            </div>
            {/if}
            {if $thumbList[element].imgTitle ne ""}
            <span class="thumb_title">{$thumbList[element].imgTitle}</span><br />
            {/if}
            {if $thumbList[element].hits ne ""}
            <span class="thumb_caption">{$thumbList[element].hits}</span><br />
            {/if}
            {if $thumbList[element].totalComments ne ""}
            <span class="thumb_title">{$thumbList[element].totalComments}</span><br />
            {/if}
            {if $thumbList[element].caption ne ""}
            <span class="thumb_caption">{$thumbList[element].caption}</span><br />
            {/if}
            {if $thumbList[element].owner ne ""}
            <span class="thumb_title"><a href="{$DOMAIN_URL}profile.php?uid={$thumbList[element].ownerLink}">{$thumbList[element].owner}</a></span><br />
            {/if}
            {if $thumbList[element].date ne ""}
            <span class="thumb_title">{$thumbList[element].date}</span><br />
            {/if}
            {if $thumbList[element].msgBody ne ""}
            <span class="thumb_caption">{$thumbList[element].msgBody}</span><br />
            {/if}
            {if $thumbList[element].rating ne ""}
            <span class="thumb_title">
            <img src="{$DOMAIN_URL}templates/{$theme}/images/{$thumbList[element].rating}" alt=""></span><br />
            {/if}
            {if $thumbList[element].votes ne ""}
            <span class="thumb_title">{$thumbList[element].votes}</span><br />
            {/if}
          </td>
          {assign var="col" value="`$col+1`"}
        {/section}
        {assign var="remainder" value="`$thumbcols-$col`"}
        {section name=emptyElement loop=$remainder}
          <td class="thumbnails">&nbsp;</td>
        {/section}
        </tr>
      </table>
    </td>
  </tr>
  {if $indexPage ne 1}
  <tr>
    <td style="padding: 0px;">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%" align="left" valign="middle" class="tableh1_compact" style="white-space: nowrap"><b>{$thumbList.thumbCount} files on {$thumbList.totalPages} page(s)</b></td>
          <td><img src="{$DOMAIN_URL}images/spacer.gif" width="1" height="1" alt="" /></td>
          {if $thumbList.totalPages gt 1}
          {foreach item=item name=page from=$pageArr}
          {if $item eq $thumbList.currentPage}
          <td align="center" valign="middle" class="tableb_compact"><b>{$item}</b></td>
          {else}
          <td align="center" valign="middle" class="pagination"><a href="{$thumbList.pageURL[$item]}">{$item}</a></td>
          {/if}
          {/foreach}
          {/if}
        </tr>
      </table>
    </td>
  </tr>
  {/if}
</table>
{/if}
<!-- End metaThumbnail.html -->