<!-- Start standard table -->
<table align="center" width="{$width}" cellspacing="1" cellpadding="0" class="maintable">

        <tr>
                <td class="tableh1" colspan="1">{$msgTitle}</td>
        </tr>
        <tr>
                <td class="tableb" align="center">
                        <font size="3"><b>{$msgText}</b></font>
                </td>
        </tr>
<!-- BEGIN button -->
                <tr>
                        <td align="center" class="tablef">
                                <table cellpadding="0" cellspacing="0">
                                        <tr>
                                                <td class="admin_menu">
                                                        <a href="{$buttonLink}" class="adm_menu">{$buttonText}</a>
                                                </td>
                                        </tr>
                                </table>
                        </td>
                </tr>
<!-- END button -->
</table>
<!-- End standard table -->