<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr">
<head>
<title>{$PAGE_TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset={$CHARSET}" />
<link href="{$DOMAIN_URL}templates/{$theme}/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="scripts.js"></script>
</head>
<body>
<script language="JavaScript" type="text/JavaScript">
adjust_popup();
</script>
{$CONTENT}
<br />
<p align="center"><a href="#" onclick="window.close()">Close</a></p>
</body>
</html>
