{if $smarty.get.op eq "edit" OR $smarty.get.op eq "new_user"}
<!-- Edit the user details -->
<table align="center" width="500px" cellspacing="1" cellpadding="0" class="maintable">
<form method="post" action="{$smarty.server.PHP_SELF}?op=update&amp;user_id={$miscArr.user_id}">
  <tr>
    <TD class="tableh1" colspan="2">{$lang_usermgr_php.modify_user}</TD>
  </tr>
  <tr>
    <td width="40%" class="tableb">{$lang_register_php.username}</td>
    <td width="60%" class="tableb" valign="top">
      <input type="text" style="width: 100%" name="user_name" maxlength="25" value="{$userData.user_name}" class="textinput" />
    </td>
  </tr>
  <tr>
    <td width="40%" class="tableb">{$lang_register_php.password}</td>
    <td width="60%" class="tableb" valign="top">
      <input type="password" style="width: 100%" name="user_password" maxlength="25" value="" class="textinput" />
    </td>
  </tr>
  <tr>
    <td width="40%" class="tableb">{$lang_register_php.password_again}</td>
    <td width="60%" class="tableb" valign="top">
      <input type="password" style="width: 100%" name="user_password_again" maxlength="25" value="" class="textinput" />
    </td>
  </tr>
  <tr>
    <td class="tableb">{$lang_usermgr_php.user_active}</td>
    <td class="tableb">
      <input type="radio" id="yes" name="user_active" value="YES" {if $userData.user_active ne "NO"}checked{/if} /><label for="yes" class="clickable_option">{$lang_yes}</label>
        &nbsp;&nbsp;
      <input type="radio" id="no" name="user_active" value="NO" {if $userData.user_active eq "NO"}checked{/if} /><label for="no" class="clickable_option">{$lang_no}</label>
    </td>
  </tr>
  <tr>
    <td class="tableb">{$lang_usermgr_php.user_group}</td>
    <td class="tableb" valign="top">
      <select name="user_group" class="listbox">
      {foreach item=group from=$groupList}
        <option value="{$group.group_id}" {if $selGroup eq "" and $group.group_id eq 2}selected{elseif $group.group_id eq $selGroup}selected{/if}>{$group.group_name}</option>
      {/foreach}
      </select><br />
      {foreach item=group from=$groupList}
      {if $group.group_id ne 2 and $group.group_id ne 4}
        <input name="group_list[]" type="checkbox" value="{$group.group_id}" {$group.checked} />{$group.group_name} <br />
      {/if}
      {/foreach}
      <br />
      <a href="usermgr.php?op=groups_alb_access">{$lang_usermgr_php.groups_alb_access}</a>
    </td>
  </tr>
  <tr>
    <td width="40%" class="tableb">{$lang_usermgr_php.user_email}</td>
    <td width="60%" class="tableb" valign="top">
      <input type="text" style="width: 100%" name="user_email" maxlength="255" value="{$userData.user_email}" class="textinput" />
    </td>
  </tr>
  {foreach item=item key=key from=$userFields}
  <tr>
    <td width="40%" class="tableb">{$item}</td>
    <td width="60%" class="tableb" valign="top">
      <input type="text" style="width: 100%" name="{$key}" maxlength="255" value="{$userData[$key]}" class="textinput" />
    </td>
  </tr>
  {/foreach}
  {if $miscArr.user_profile6_name ne ""}
  <tr>
    <td width="40%" class="tableb">{$miscArr.user_profile6_name}</td>
    <td width="60%" class="tableb" valign="top">
      <textarea rows="7" style="width: 100%" class="textinput">{$userData.user_profile6}</textarea>
    </td>
  </tr>
  {/if}
  <tr>
    <td colspan="2" class="tableh2"><b>{$lang_usermgr_php.notes}</b></td>
  </tr>
  <tr>
    <td colspan="2" class="tableb"><ul>{$lang_usermgr_php.note_list}</ul></td>
  </tr>
  <tr>
    <td colspan="2" align="center" class="tablef">
      <input type="submit" value="{$lang_usermgr_php.modify_user}" class="button" />
    </td>
  </tr>
</form>
</table>
{elseif $smarty.get.op eq "groups_alb_access"}
<!-- Display the group level access -->
<table align="center" width="500" cellspacing="1" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1" colspan="3">{$lang_usermgr_php.groups_alb_access}</td>
  </tr>
  <tr>
    <td><b>{$lang_usermgr_php.category}</b></td>
    <td><b>{$lang_usermgr_php.album}</b></td>
    <td><b>{$lang_usermgr_php.modify}</b></td>
  </tr>
  {foreach item=item key=key from=$groups}
  <tr>
    <td colspan="3" class="tableh1_compact">
      {$item.group_name}
    </td>
  </tr>
  {foreach item=i from=$item.albs}
  <tr>
    <td>{$i.category}</td>
    <td>{$i.album}</td>
    <td>&nbsp;<a href="modifyalb.php?album={$i.aid}"><img src="images/edit.gif" border="0" alt="" /></a></td>
  </tr>
  {/foreach}
  {/foreach}
</table>
{elseif $smarty.get.op eq "group_alb_access"}
<!-- Display album level access to each group -->
<table align="center" width="500" cellspacing="1" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1" colspan="3">{$lang_usermgr_php.group_can_access}</td>
  </tr>
  <tr>
    <td><b>{$lang_usermgr_php.category}</b></td>
    <td><b>{$lang_usermgr_php.album}</b></td>
    <td><b>{$lang_usermgr_php.modify}</b></td>
  </tr>
 {foreach from=$albums item=item}
  <tr>
    <td>{$item.category}</td>
    <td>{$item.album}</td>
    <td>&nbsp;<a href="modifyalb.php?album={$item.aid}"><img src="images/edit.gif" border="0" alt="" /></a></td>
  </tr>
 {/foreach}
</table>
{else}
<!-- Success/error messages if any-->
{if $miscArr.success ne ""}
  <div class="success">
    {* $miscArr.success *}
    {foreach item=item from=$miscArr.success}
      {$item}<br />
    {/foreach}
  </div>
{elseif $miscArr.error ne ""}
  <div class="error">
    {$miscArr.error}
  </div>
{/if}
<!-- Success/error messages End-->

<!-- Show the default users page -->
<table align="center" width="100%" cellspacing="1" cellpadding="0" class="maintable">
  <tr>
    <TD colspan="{$numColumns}">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="tableh1">
            {if $lim_user eq 0}
            <h2>{$lang_usermgr_php.user_manager}{$miscArr.usermgrHelp}</h2>
            {else}
            <h2>{$lang_usermgr_php.memberlist}</h2>
            {/if}
          </td>
          {if $smarty.post.username ne ""}
          <td class="tableh1" align="center">
            {$lang_usermgr_php.search_result}&laquo;{$smarty.post.username}&raquo;
          </td>
          {/if}
          <td class="tableh1" align="right"><b>{$lang_usermgr_php.sort_by}</b>:
            <select name="album_listbox" class="listbox" onChange="if(this.options[this.selectedIndex].value) window.location.href='{$smarty.server.PHP_SELF}?page={$page}&amp;sort='+this.options[this.selectedIndex].value;">
            {foreach item=value key=key from=$sortCodes}
              <option value="{$key}"{if $key eq $miscArr.sort} selected{/if}>{$lang_usermgr_php[$key]}</option>
            {/foreach}
            </select>
          </td>
        </tr>
      </table>
    </TD>
  </tr>
  <form method="get" action="usermgr.php" name="editForm">
  <input type="hidden" name="id" value="" />
  {if $limUser eq 0}
  <tr>
    <td class="tableh1" align="center"><input type="checkbox" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} name="checkAll" onClick="selectAll(this,'u');" class="checkbox" title="$lang_check_uncheck_all" /></td>
    <td class="tableh1" colspan="2"><b><span class="statlink">{$lang_usermgr_php.name}</span></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=name_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.name_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=name_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.name_d}" /></a>
    </td>
    <td class="tableh1"><b><a href="groupmgr.php" class="statlink">{$lang_usermgr_php.group}</a></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=group_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.group_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=group_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.group_d}" /></a>
    </td>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.registered_on}</span></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=reg_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.reg_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=reg_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.reg_d}" /></a>
    </td>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.last_visit}</span></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=lv_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.lv_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=lv_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.lv_d}" /></a>
    </td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.pictures}</span></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=pic_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.pic_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=pic_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.pic_d}" /></a>
    </td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.disk_space_used}</span></b>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=disku_a"><img src="images/ascending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.disku_a}" /></a>
    <a href="{$smarty.server.PHP_SELF}?page={$page}&amp;sort=disku_d"><img src="images/descending.gif" width="9" height="9" border="0" alt="" title="{$lang_usermgr_php.disku_d}" /></a>
    </td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.disk_space_quota}</span></b>
    </td>
  </tr>
  {else}
  <tr>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.name}</span></b></td>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.group}</span></b></td>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.registered_on}</span></b></td>
    <td class="tableh1"><b><span class="statlink">{$lang_usermgr_php.last_visit}</span></b></td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.pictures}</span></b></td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.disk_space_used}</span></b></td>
    <td class="tableh1" align="center"><b><span class="statlink">{$lang_usermgr_php.disk_space_quota}</span></b></td>
  </tr>
  {/if}
  {foreach item=user from=$users}
  {if !$lim_user}
  <tr>
    <td class="tableb" align="center">
      {if $user.checkbox eq 1}
        <input name="u{$user.user_id}" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} type="checkbox" value="" class="checkbox" />
      {else}
        &nbsp;
      {/if}
    </td>
    <td class="tableb"><a href="profile.php?uid={$user.user_id}">{$user.user_name}</a>{if $user.pic_count ne 0}(<a href="thumbnails.php?meta=lastupby&amp;uid={$user.user_id}">{$lang_usermgr_php.latest_upload}</a>){/if}</td>
    <td class="tableb" align="center">
      <button type="button" class="button" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} onclick="window.location.href ='{$user.profile_link}';">
          <img src="images/edit.gif" width="16" height="16" border="0" alt="" title="{$lang_usermgr_php.edit}" />
      </button>
    </td>
    <td class="tableb">
      {if $user.user_active eq "NO"}
      <i>{$lang_usermgr_php.inactive}</i>
      {else}
      {$user.group_name}
      {/if}
    </td>
    <td class="tableb">{$user.user_regdate}</td>
    <td class="tableb">{$user.user_lastvisit}</td>
    <td class="tableb" align="right">{$user.pic_count}</td>
    <td class="tableb" align="right">{if $user.disk_usage eq ""}0{else}{$user.disk_usage}{/if}&nbsp;{$lang_byte_units[1]}</td>
    <td class="tableb" align="right">{$user.group_quota}&nbsp;{$lang_byte_units[1]}</td>
  </tr>
  {else}
  <tr>
    <td class="tableb"><a href="profile.php?uid={$user.user_id}">{$user.user_name}</a></td>
    <td class="tableb">{$user.group_name}</td>
    <td class="tableb">{$user.user_regdate}</td>
    <td class="tableb">{$user.user_lastvisit}</td>
    <td class="tableb" align="right">{$user.pic_count}</td>
    <td class="tableb" align="right">{if $user.disk_usage eq ""}0{else}{$user.disk_usage}{/if}&nbsp;{$lang_byte_units[1]}</td>
    <td class="tableb" align="right">{$user.group_quota}&nbsp;{$lang_byte_units[1]}</td>
  </tr>
  {/if}
  {/foreach}
  {if !$lim_user}
  <tr>
    <td class="tablef" align="center"><input type="checkbox" name="checkAll2" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} onClick="selectAll(this,'u');" class="checkbox" title="$lang_check_uncheck_all" /></td>
    <td colspan="{$numColumnsMinusOne}" class="tablef">
      <table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr>
          <td align="left">
            <select name="action" size="1" class="listbox" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} onchange="return selectaction(this,'u');">
              <option value="" checked="checked">{$lang_usermgr_php.with_selected}</option>
              <option value="delete">{$lang_usermgr_php.delete}</option>
              <option value="activate">{$lang_usermgr_php.activate}</option>
              <option value="deactivate">{$lang_usermgr_php.deactivate}</option>
              <option value="reset_password">{$lang_usermgr_php.reset_password}</option>
              <option value="change_group">{$lang_usermgr_php.change_primary_membergroup}</option>
              <option value="add_group">{$lang_usermgr_php.add_secondary_membergroup}</option>
            </select>
            <input type="hidden" name="what" value="user"/>
            <input type="text" name="new_password" value="{$lang_usermgr_php.password}" size="8" maxlength="8" class="textinput" onfocus="this.value='';" style="display:none" />
            <select name="group" size="1" class="listbox" style="display:none" onchange="return selectaction(this,'u');">
              <option value="">{$lang_usermgr_php.select_group}</option>
              {foreach item=group from=$groupList}
              <option value="{$group.group_id}">{$group.group_name}</option>
              {/foreach}
            </select>
            <select name="delete_files" size="1" class="listbox" style="display:none">
              <option value="no">{$lang_usermgr_php.delete_files_no}</option>
              <option value="yes">{$lang_usermgr_php.delete_files_yes}</option>
            </select>
            <select name="delete_comments" size="1" class="listbox" style="display:none">
              <option value="no">{$lang_usermgr_php.delete_comments_no}</option>
              <option value="yes">{$lang_usermgr_php.delete_comments_yes}</option>
            </select>
            <input type="submit" name="go" value="{$lang_usermgr_php.submit}" class="button" style="display:none" />
          </td>
          <td align="center">
            <a href="{$smarty.server.PHP_SELF}?op=new_user" {if $readOnly eq 1} style="display:none;" disabled="disabled"{/if} class="admin_menu">{$lang_usermgr_php.create_new_user}</a>
          </td>
          </form>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="{$numColumns}"  class="tablef" align="center" valign="middle">
      <form method="post" action="{$smarty.server.PHP_SELF}" name="searchUser">
        <input type="text" name="username" class="textinput" {if $smarty.post.username ne ""}value="{$smarty.post.username}"{else}value="{$lang_usermgr_php.search}" onfocus="this.value=''"{/if} />
        <input type="submit" name="user_search" value="{$lang_usermgr_php.search_submit}" class="button" />
        {$miscArr.searchHelp}
      </form>
    </td>
  </tr>
  {/if}
  <tr>
    <td colspan="{$numColumns}" style="padding: 0px;">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="{$DOMAIN_URL}images/spacer.gif" width="1" height="1" alt="" /></td>
          {if $totalPages gt 1}
          {section name=page loop=$totalPages}
            {if $smarty.section.page.iteration eq $page}
              <td align="center" valign="middle" class="tableb_compact"><b>{$smarty.section.page.iteration}</b></td>
            {else}
              <td align="center" valign="middle" class="pagination"><a href="{$DOMAIN_URL}usermgr.php?page={$smarty.section.page.iteration}&amp;sort={$miscArr.sort}">{$smarty.section.page.iteration}</a></td>
            {/if}
          {/section}
          {/if}
        </tr>
      </table>
    </td>
  </tr>
</table>

<script type="text/javascript" language="javascript">
<!--
{literal}
function selectAll(d,box) {
  var f = document.editForm;
  for (i = 0; i < f.length; i++) {
    //alert (f[i].name.indexOf(box));
    if (f[i].type == "checkbox" && f[i].name.indexOf(box) >= 0) {
      if (d.checked) {
        f[i].checked = true;
      } else {
        f[i].checked = false;
      }
    }
  }
  if (d.name == "checkAll") {
      document.getElementsByName('checkAll2')[0].checked = document.getElementsByName('checkAll')[0].checked;
  } else {
      document.getElementsByName('checkAll')[0].checked = document.getElementsByName('checkAll2')[0].checked;
  }
}

function selectaction(d,box) {
// check if an action has been selected
  var action = document.editForm.action.value;
  if (action == '') {
    return false;
  }
// check if at least one user has been selected
  var checked_counter = 0;
  var checked_string = '';
  var f = document.editForm;
  for (i = 0; i < f.length; i++) {
    if (f[i].type == "checkbox" && f[i].name.indexOf(box) >= 0) {
      if (f[i].checked) {
        checked_counter = checked_counter + 1;
        if (checked_string == '') {
          checked_string = f[i].name;
        } else {
          checked_string = checked_string + ',' + f[i].name;
        }
      }
    }
  }
  if (checked_counter == 0) {
    document.editForm.action.value = '';
    alert('{/literal}{$lang_usermgr_php.alert_no_selection}{literal}');
    return false;
  }
  document.editForm.id.value = checked_string;
  document.editForm.new_password.style.display = "none";
  document.editForm.group.style.display = "none";
  document.editForm.go.style.display = "none";
  document.editForm.delete_files.style.display = "none";
  document.editForm.delete_comments.style.display = "none";
  switch(document.editForm.action.value) {
    case "delete":
      document.editForm.delete_files.style.display = "inline";
      document.editForm.delete_comments.style.display = "inline";
      document.editForm.go.style.display = "inline";
    break;
    case "reset_password":
      document.editForm.new_password.style.display = "inline";
      document.editForm.go.style.display = "inline";
    break;
    case "change_group":
      document.editForm.new_password.value = '';
      document.editForm.group.style.display = "inline";
      if (document.editForm.group.value != '') {
      document.editForm.submit();
      }
    break;
    case "add_group":
      document.editForm.new_password.value = '';
      document.editForm.group.style.display = "inline";
      if (document.editForm.group.value != '') {
      document.editForm.submit();
      }
    break;
    default:
      document.editForm.new_password.value = '';
      document.editForm.submit();
    break;
  }
}
{/literal}
-->
</script>
{/if}
