{if $showLogText eq 1}
<!-- Start standard table -->
<table align="center" width="100%" cellspacing="1" cellpadding="0" class="maintable">
  <tr><td class="tableh1" colspan="1">{$lang_viewlog_php.view_log_title} {$logObj->logName}</td></tr>
  <tr>
    <td class="tableb" align="center">
      <input class="button" type="button" value="{$lang_viewlog_php.delete_all}" name="dall1" id="dall1" onclick="window.location='viewlog.php?action=dall';" />
      <input class="button" type="button" value="{$lang_viewlog_php.view_logs}" name="back1" id="back1" onclick="window.location='viewlog.php';" />
      <input class="button" type="button" value="{$lang_viewlog_php.delete_this}" name="dthis1" id="dthis1" onclick="window.location='viewlog.php?action=dthis&amp;log={$logObj->logName}';" />
    </td>
  </tr>
  <tr><td class="tableb"><pre>{$logObj->logText}</pre></td></tr>
  <tr>
    <td class="tableb" align="center">
      <input class="button" type="button" value="{$lang_viewlog_php.delete_all}" name="dall2" id="dall2" onclick="window.location='viewlog.php?action=dall';" />
      <input class="button" type="button" value="{$lang_viewlog_php.view_logs}" name="back2" id="back2" onclick="window.location='viewlog.php';" />
      <input class="button" type="button" value="{$lang_viewlog_php.delete_this}" name="dthis2" id="dthis2" onclick="window.location='viewlog.php?action=dthis&amp;log={$logObj->logName}';" />
    </td>
  </tr>
</table>
<!-- End standard table -->
{else}
<!-- Start standard table -->
<table align="center" width="100%" cellspacing="1" cellpadding="0" class="maintable">
  <tr><td class="tableh1" colspan="1">{$lang_viewlog_php.title}</td></tr>
 {foreach from=$logObj->logs item=item}
  <tr>
    <td class="tableb">
      <img src="images/folder.gif" alt="" /> <a href="viewlog.php?log={$item.logName}">{$item.logName}</a>&nbsp;&nbsp;&nbsp;
      ( <i>{$item.logSize} KB</i> )
    </td>
  </tr>
 {/foreach}
  <tr>
    <td class="tableb" align="center">
      <input class="button" type="button" value="{$lang_viewlog_php.delete_all}" name="dall" id="dall" onclick="window.location='viewlog.php?action=dall';" />
    </td>
  </tr>
</table>
<!-- End standard table -->
{/if}
