{if $breadcrumHTML ne ""}
<!-- Breadcrum for category Starts-->
{$breadcrumbHTML}
<!-- Breadcrum for category Ends-->
{/if}
{if $indexData->catData|@count ne 0}
<!-- Category List Starts -->
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="tableh1" width="80%"><b>{$lang_cat_list.category}</b></td>
    <td class="tableh1" width="10%" align="center"><b>{$lang_cat_list.albums}</b></td>
    <td class="tableh1" width="10%" align="center"><b>{$lang_cat_list.pictures}</b></td>
  </tr>
  {foreach from=$indexData->catData key=key item=item}
    {if $item|@count eq 3}
    <tr>
    <td class="tableb" colspan="3"><table border="0" ><tr><td>{$item.cat_thumb}</td><td><span class="catlink"><b>{$item[0]}</b></span>{$item[1]}</td></tr></table></td>
    </tr>
    {elseif $item.cat_albums ne ""}
      <tr>
        <td class="tableb">
          <table border="0" >
            <tr>
              <td>{$item.cat_thumb}</td>
              <td><span class="catlink"><b>{$item[0]}</b></span>{$item[1]}</td>
            </tr>
          </table>
        </td>
        <td class="tableb" align="center">{$item[2]}</td>
        <td class="tableb" align="center">{$item[3]}</td>
      </tr>
      </tr>
      <tr>
        <td class="tableb" colspan="3">
          <table width="100%" cellspacing="0" cellpadding="0" class="maintable">
      <tr>
    {assign var="col" value="0"}
    {section name=element loop=$item.cat_albums|@count}
      {if $col == $albcols}
        </tr>
        <tr>
        {assign var="col" value="0"}
      {/if}
      <td width="{$colWidth}%" valign="top" class="tableb_album">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" height="1" valign="top" class="tableh2">
              <a href="thumbnailsNew.php?album={$indexData->albList[element].aid}" class="alblink"><b>{$item.cat_albums[element].album_title}</b></a>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" class="thumbnails">
             <a href="thumbnailsNew.php?album={$item.cat_albums[element].aid}" class="albums">{$item.cat_albums[element].thumb_pic}</a>
            </td>
            <td width="100%" valign="top" class="tableb_compact">
              {if $GALLERY_ADMIN_MODE || ($USER_ADMIN_MODE && $cat eq $my_cat_id)}
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="delete.php?id={$item.cat_albums[element].aid}&amp;what=album" class="adm_menu" onclick="return  confirm('{$lang_album_admin_menu.confirm_delete}');">{$lang_album_admin_menu.delete}</a>
                  </td>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="modifyalb.php?album={$item.cat_albums[element].aid}" class="adm_menu">{$lang_album_admin_menu.modify}</a>
                  </td>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="editpics.php?album={$item.cat_albums[element].aid}" class="adm_menu">{$lang_album_admin_menu.edit_pics}</a>
                  </td>
                </tr>
              </table>
              {/if}
              <p class="album_desc">{$item.cat_albums[element].album_desc}</p>
              <p class="album_stat">{$item.cat_albums[element].album_info}</p>
            </td>
          </tr>
        </table>
      </td>
      {assign var="col" value="`$col+1`"}
    {/section}
    {assign var="remainder" value="`$albcols-$col`"}
    {section name=emptyElement loop=$remainder}
      <td width="{$colWidth}%" valign="top" class="tableb_album">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td height="1" valign="top" class="tableh2">
                    <b>&nbsp;</b>
            </td>
          </tr>
          <tr>
            <td width="100%" height="100%" valign="top" class="tableb_compact">
                    &nbsp;
            </td>
          </tr>
        </table>
      </td>
    {/section}
    </td>
  </tr>
  <tr>
    <td colspan="{$albcols}" style="padding: 0px;">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%" align="left" valign="middle" class="tableh1_compact" style="white-space: nowrap"><b>{$item.albStats[element].statistics}</b></td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
    {else}
    <tr>
    <td class="tableb"><table border="0" ><tr><td>{$item.cat_thumb}</td><td><span class="catlink"><b>{$item[0]}</b></span>{$item[1]}</td></tr></table></td>
    <td class="tableb" align="center">{$item[2]}</td>
    <td class="tableb" align="center">{$item[3]}</td>
    </tr>
    {/if}
  {/foreach}
  {if $cat eq ""}
  <tr>
    <td colspan="3" class="tableb" align="center"><span class="statlink"><b>{$indexData->statistics}</b></span></td>
  </tr>
  {/if}
</table>
{/if}
<!-- Category List Ends -->
{if $indexData->usrList|@count gt 0}
<!-- User list starts -->
<!-- Start standard table -->
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr><TD>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintable">
    <tr>
    {assign var="col" value="0"}
    {assign var=cur value=$indexData->usrList.currentPage-1}
    {section name=element loop=$thumbcols*$thumbrows}
        {if $col == $thumbcols}
            </tr><tr>{assign var="col" value="0"}
        {/if}
        <td valign="top" class="thumbnails" width="{$thumbColWidth}%" align="center">
          <a href="indexNew.php?cat={$indexData->usrList[element].cat}"><img src="{$indexData->usrList[element].image}" class="image" border="0" alt="" title="" /></a>
          <br />
          <table cellspacing="1" cellpadding="0" border="0" width="100%" class="user_thumb_infobox">
            <tr>
              <th><a href="profile.php?uid={$indexData->usrList[element].caption.userid}">{$indexData->usrList[element].caption.user}</a></th>
            </tr>
            <tr>
              <td>{$indexData->usrList[element].caption.albums}</td>

            </tr>
            <tr>
              <td>{$indexData->usrList[element].caption.pictures}</td>
            </tr>
        </table>
        </td>
        {assign var="col" value="`$col+1`"}
    {/section}
    {assign var="remainder" value="`$thumbcols-$col`"}
    {section name=emptyElement loop=$remainder}
        <td class="thumbnails">&nbsp;</td>
    {/section}
    </tr>
    <tr>
      <td colspan="4" style="padding: 0px;">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100%" align="left" valign="middle" class="tableh1_compact" style="white-space: nowrap"><b>{$indexData->usrList[0].statistics}</b></td>
            <td><img src="images/spacer.gif" width="1" height="1" alt="" /></td>
            {if $indexData->totalPages.usrAlb gt 1}
            {section name=page loop=$indexData->totalPages.usrAlb}
              {if $smarty.section.page.iteration eq $indexData->currentPage.usrAlb}
                <td align="center" valign="middle" class="tableb_compact"><b>{$smarty.section.page.iteration}</b></td>
              {else}
                <td align="center" valign="middle" class="navmenu"><a href="indexNew.php?cat={$cat}&amp;page={$smarty.section.page.iteration}">{$smarty.section.page.iteration}</a></td>
              {/if}
            {/section}
            {/if}
          </tr>
        </table>
      </td>
    </tr>
</table>
<!-- End standard table -->
<!-- User list ends -->
{/if}
<img src="images/spacer.gif" width="1" height="17" alt=" "/><br />
{if $indexData->dispAlbumCount gt 0}
<!-- Album list Starts-->
<table align="center" width="100%" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    {assign var="col" value="0"}
    {section name=element loop=$indexData->dispAlbumCount}
      {if $col == $albcols}
        </tr>
        <tr>
        {assign var="col" value="0"}
      {/if}
      <td width="{$colWidth}%" valign="top" class="tableb_album">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" height="1" valign="top" class="tableh2">
              <a href="thumbnailsNew.php?album={$indexData->albList[element].aid}" class="alblink"><b>{$indexData->albList[element].album_title}</b></a>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" class="thumbnails">
             <a href="thumbnailsNew.php?album={$indexData->albList[element].aid}" class="albums">{$indexData->albList[element].thumb_pic}</a>
            </td>
            <td width="100%" valign="top" class="tableb_compact">
              {if $GALLERY_ADMIN_MODE || ($USER_ADMIN_MODE && $cat eq $my_cat_id)}
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="delete.php?id={$indexData->albList[element].aid}&amp;what=album" class="adm_menu" onclick="return  confirm('{$lang_album_admin_menu.confirm_delete}');">{$lang_album_admin_menu.delete}</a>
                  </td>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="modifyalb.php?album={$indexData->albList[element].aid}" class="adm_menu">{$lang_album_admin_menu.modify}</a>
                  </td>
                  <td align="center" valign="middle" class="admin_menu">
                    <a href="editpics.php?album={$indexData->albList[element].aid}" class="adm_menu">{$lang_album_admin_menu.edit_pics}</a>
                  </td>
                </tr>
              </table>
              {/if}
              <p class="album_desc">{$indexData->albList[element].album_desc}</p>
              <p class="album_stat">{$indexData->albList[element].album_info}</p>
            </td>
          </tr>
        </table>
      </td>
      {assign var="col" value="`$col+1`"}
    {/section}
    {assign var="remainder" value="`$albcols-$col`"}
    {section name=emptyElement loop=$remainder}
      <td width="{$colWidth}%" valign="top" class="tableb_album">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td height="1" valign="top" class="tableh2">
                    <b>&nbsp;</b>
            </td>
          </tr>
          <tr>
            <td width="100%" height="100%" valign="top" class="tableb_compact">
                    &nbsp;
            </td>
          </tr>
        </table>
      </td>
    {/section}
  </tr>
  {if $indexData->totalPages.albums gt 1}
  <!-- BEGIN tabs -->
  <tr>
    <td colspan="{$albcols}" style="padding: 0px;" align="right">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="100%" align="left" valign="middle" class="tableh1_compact" style="white-space: nowrap"><b>{$indexData->albList[0].statistics}</b></td>
          <td><img src="images/spacer.gif" width="1" height="1" alt="" /></td>
          {section name=page loop=$indexData->totalPages.albums}
            {if $smarty.section.page.iteration eq $pg}
              <td align="center" valign="middle" class="tableb_compact"><b>{$smarty.section.page.iteration}</b></td>
            {else}
              <td align="center" valign="middle" class="navmenu"><a   href="indexNew.php?cat={$cat}&amp;page={$smarty.section.page.iteration}">{$smarty.section.page.iteration}</a></td>
            {/if}
          {/section}
        </tr>
      </table>
    </td>
  </tr>
  <!-- END tabs -->
  {/if}
</table>
<!-- Album list Ends-->
{/if}
<img src="images/spacer.gif" width="1" height="17" alt=" " /><br />
<!-- Old Data -->
</TD>
</tr>
</table>