
body {
	background-image: url("images/gradient.gif");
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: repeat-x;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#content {
	margin-right: 20em;
	margin-left: 40px;
	background-color: #eff3f6;
	padding: 1.0em;
	margin-top: 140px;

	border: 1px #eee solid;
}


#header {
	position: absolute;
	top: 40px;
	left: 0px;
	background-image: url("images/pen-sm.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	color:#1e5780;
	width:80%;
	margin: 0px;
	height: 75px;
	padding-left: 45px;
	font-family: Arial, helvitica sans-serif;
	font-weight: bold;
	font-size: 2.40em;
}
#tagline {
	position: absolute;
	top: 80px;
	left: 0px;
	width:80%;
	margin: 0px;
        padding-left: 45px;
	font-family: Arial, helvitica sans-serif;
	font-style: italic;
	color: #2f89c9;
	font-size: 1.17em;
}

#menu {
	width: 14em;
	position: absolute;
	float: right;
	top: 152px;
	right: 5em;

	font-size: 100%;
}
* html #menu { /* make IE put it in the right place */
	right: 5em;
}

#menu ul {
	margin-top: 0;
	padding-left: 0;
	margin-left: 10px;
	list-style: square;

	color: #2f89c9;


}

#menu a:link, #menu a:visited {
	color: #1e5780;
	border: none;
}

#menu form{
	margin: 0;	 
}

#menu form br {
	display:none;
}


#admin_menu {
	position: absolute;
	top: 120px;
	left: 30px;
	font-size: 100%;
	text-align: left;	
	color: #CC9933;
}



div.innerdiv {width:100%}



table {

        font-size: 12px;

}


.tableh1 {

        background : #e2e8ee ;

        color : #447395;

        font-size:1em;

        font-weight: bold;

        padding-top: 3px;

        padding-right: 10px;

        padding-bottom: 3px;

        padding-left: 10px;

}




.breadcrumbs {

        background : #e2e8ee;

        color : #447395;

        padding-top: 3px;

        padding-right: 10px;

        padding-bottom: 3px;

        padding-left: 10px;

}







.tableh1_compact {

        background : #e2e8ee ;

        color : #447395;

        padding-top: 2px;

        padding-right: 5px;

        padding-bottom: 2px;

        padding-left: 5px;

}





.album_desc {

        margin: 5px 10px;

		text-align: justify;

}




.navmenu a {

        position: relative;

        display: block;

        padding-top: 2px;

        padding-right: 5px;

        padding-bottom: 2px;

        padding-left: 5px;

        text-decoration: none;

        color: #FFFFFF;

}



.image {

        border-style: solid;

        border-width:1px;

        border-color: #000000;

        margin: 2px;

}



.imageborder {

        border: 1px solid #000000;

        background-color: #FFFFFF;

        margin-top: 30px;

        margin-bottom: 30px;

}



.thumbnails {

        background: #101010 ;

        padding: 5px;

}



.footer {

        font-size : 9px;

}



.footer a {

        text-decoration: none;

        color: #cc9933;

}



.footer a:hover {

        color: #cc9933;

        text-decoration: underline;

}



.statlink {
        color: #447395;
		

}



.statlink a {
		color: #447395;
        text-decoration: none;
}



.statlink a:hover {

        color: #000000;

        text-decoration: underline;

}



.alblink a {

        text-decoration: underline;

        color: rgb(168,157,170);

}



.alblink a:hover {

        color: rgb(168,157,170);

        text-decoration: underline;

}



.catlink {

        display: block;

        margin-bottom: 2px;

}



.catlink a {

        text-decoration: underline;

        color: #447395;

}



.catlink a:hover {

        color: red;

        text-decoration: underline;

}



.topmenu {

        line-height : 130%;

        font-size: 100%;

}



.topmenu a {

        color : #0033CC;

        text-decoration : none;

}



.topmenu a:hover  {

        color : #0033CC;

        text-decoration : underline;

}



.img_caption_table {

        border: none;

        background-color: #FFFFFF;

        width : 100%;

        margin : 0px;

}



.img_caption_table th {

        background: #202020 ;

        font-size: 100%;

        color : #447395;

        padding-top: 4px;

        padding-right: 10px;

        padding-bottom: 4px;

        padding-left: 10px;

        border-top : 1px solid #4a4a4a;

}



.img_caption_table td {

        background: #000000 ;

        padding-top: 6px;

        padding-right: 10px;

        padding-bottom: 6px;

        padding-left: 10px;

        border-top : 1px solid #4a4a4a;
	white-space: normal
}



.debug_text {

        border: #BDBEBD;

        background-color: #000000;

        width : 100%;

        margin : 0px;

}



.clickable_option {

        border-bottom : 1px dotted blue;

}



.listbox_lang {

        color: #000000;

        background-color: #e5ebf1;

        border: 1px solid #e5ebf1;

        font-size: 80%;

        font-family: Arial, Helvetica, sans-serif;

        vertical-align : middle;



}

h1{
        font-weight: bold;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        line-height : 120%;
        color : #000000;
        margin: 2px;
		
}


h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: 0px;
}



h3 {
        font-weight: normal;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin: 2px;
}


p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: 2px 0px;
}


ul {
        margin-left: 5px;
        padding: 0px;
}

li {
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0px;
}

.textinput {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #e5ebf1;
        padding-right: 3px;
        padding-left: 3px;
}


.listbox {
        font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #e5ebf1;
        vertical-align : middle;
}


.button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
}

.comment_button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        padding-left: 3px;
        padding-right: 3px;
}

.radio {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}


.checkbox {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}


a {
        color: #0033CC;
        text-decoration: none;
}

a:hover {
        color: #0033CC;
        text-decoration: underline;
}


bblink a {
        color: #0033CC;
        text-decoration: none;
}

bblink a:hover {
        color: #0033CC;
        text-decoration: underline;
}


.maintable {
        border: 1px solid #e2e8ee;
        background-color: #eff3f6;
        margin-top: 1px;
        margin-bottom: 1px;
}


.tableh2 {
        background: #e5ebf1 ;
        color : #000000;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
		font-size: 1em;
}


.tableh2_compact {
        background: #e5ebf1 ;
        color : #000000;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableb {
        background: #eff3f6 ;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}


.tableb_compact {
        background: #eff3f6 ;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tablef {
        background: #e5ebf1;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}


.album_stat {
        font-size: 85%;
        margin: 5px 0px;
}


.thumb_title {
        font-weight : normal;
        font-size: 10pt;
        padding: 2px;
        display : block;
}



.thumb_caption {
        font-size: 80%;
        padding: 1px;
        display : block;
}

.thumb_caption a {
        text-decoration: underline;
        color: #000000;
}

.thumb_num_comments {
        font-weight: normal;
        font-size: 80%;
        padding: 2px;
        font-style : italic;
        display : block;
}

.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}


.user_thumb_infobox th {
        font-weight : bold;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}


.user_thumb_infobox td {
        font-size: 80%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}


.user_thumb_infobox a {
        text-decoration: none;
        color: #000000;
}

.user_thumb_infobox a:hover {
        color: #000000;
        text-decoration: underline;
}

.sortorder_cell {
        background : #e2e8ee ;
        color : #447395;
        padding: 0px;
        margin: 0px;
}

.sortorder_options {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background : #e2e8ee ;
        color : #447395;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 80%;
        white-space: nowrap;
}

.navmenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #447395;
        font-size: 100%;
        font-weight: bold;
        background : #e2e8ee ;
        border-style: none;
}


.navmenu img {
        margin-top: 1px;
        margin-right: 5px;
        margin-bottom: 1px;
        margin-left: 5px;
}

.navmenu a {
        position: relative;
        display: block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        text-decoration: none;
        color: #FFFFFF;
}

.navmenu a:hover {
        background : #eff3f6 ;
        text-decoration: none;
        color:         #000000;
}

.admin_menu_thumb {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        color: #000000;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85px;
}

.admin_menu_thumb a {
        color: #000000;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
}


.admin_menu_thumb a:hover {
        color: #000000;
        text-decoration: underline;
}


.admin_menu {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        border: 1px solid #005D8C;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}

.admin_menu a {
        color: #000000;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
}

.admin_menu a:hover {
        color: #000000;
        text-decoration: underline;
}

.comment_date{
        color : #5F5F5F;
        font-size : 90%;
        vertical-align : middle;
}

.image {
        border-style: solid;
        border-width:1px;
        border-color: #000000;
        margin: 2px;
}

.imageborder {
        border: 1px solid #000000;
        background-color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 30px;
}

.thumbnails {
        background: #eff3f6 ;
        padding: 5px;
}

.footer {
        font-size : 9px;
}

.footer a {
        text-decoration: none;
        color: #000000;
}

.footer a:hover {
        color: #000000;
        text-decoration: underline;
}

.catlink {
        display: block;
        margin-bottom: 2px;
}

.catlink a {
        text-decoration: underline;
        color: #000000;
}

.catlink a:hover {

        color: #000000;
        text-decoration: underline;
}

.topmenu {
        line-height : 130%;
        font-size: 100%;
}

.topmenu a {
        color : #0033CC;
        text-decoration : none;
}

.topmenu a:hover  {
        color : #0033CC;
        text-decoration : underline;
}

.img_caption_table {
        border: none;
        background-color: #447395;
        width : 100%;
        margin : 0px;
}

.img_caption_table th {
        background: #e5ebf1 ;
        font-size: 100%;
        color : #000000;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        border-top : 1px solid #FFFFFF;
}

.img_caption_table td {
        background: #eff3f6 ;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-top : 1px solid #FFFFFF;
}

.debug_text {
        border: #BDBEBD;
        background-color: #eff3f6;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        border-bottom : 1px dotted blue;
}

.listbox_lang {
        color: #000000;
        background-color: #e5ebf1;
        border: 1px solid #e5ebf1;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align : middle;

}

.blank_image {
/* Margin should = .image (margin+border-width) */
        border:0;
        margin: 3px;
}